<h1>Locations List</h1>

<table border="1" cellpadding="5">
  <thead>
    <tr>
      <th>Street</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Country Code</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.street %></td>
        <td><%= location.city %></td>
        <td><%= location.state %></td>
        <td><%= location.zip %></td>
        <td><%= location.country_code %></td>
        <td>
          <%= link_to 'Show Forecast', location_path(location) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to "Add New Location", new_location_path %>
